# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List of popular languages
- List of commonly used Libraries
- List of tools used by Data Science
- Example of arithmatic operations

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. SCALA
5. JULIA

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. pandas
3. Matplotlib
4. seaborn
5. ploty

|Data Science Tools|
|-------------------| 
|RStudio.| 
|Apache Spark.| 
|Tensor Flow.| 
|apache Hadoop.|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author: 

Thaer Zori